.list-social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem
}

@media only screen and (max-width: 749px) {
  .list-social {}
}

.list-social__item .icon {
  height: 1.8rem;
  width: 1.8rem;
}

.list-social__link {
  align-items: center;
  display: flex;
  padding: 1.3rem;
  padding-left: 0;
  color: rgb(var(--color-foreground));
  font-size: 14px;
  font-weight: 12px;
  text-decoration: none;
  color: #0E0E0E
}

.list-social__link:hover {
  color: #0E0E0E;
  opacity: 0.70;
}

@media only screen and (max-width: 749px) {
  .list-social__link {
    font-size: 12px
  }
}

.list-social__link:hover .icon {
  transform: scale(1.07);
}